      <div class="footer z-3 container fixed-bottom">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
          <div class="col-md-4 d-flex align-items-center">
            <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <span class="mb-3 mb-md-0 text-muted">© 2024 EECSA, Inc</span>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://instagram.com/eecsa_unlu?igshid=NzZlODBkYWE4Ng=="><img src="images/logo-instagram.svg" alt="Logo de Instagram"></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="images/logo-facebook.svg" alt="Logo de Facebook"></a></li>
            <li class="ms-3"><a class="text-muted" href="mailto:eecsatransformacionsocialunlu@gmail.com"><img src="images/logo-gmail.svg" alt="Logo de Gamil"></a></li>
          </ul>
        </footer>
      </div>
</html>