<%- include('header.ejs') %>
<br><br>
<h2 class="text-center"><%= title %></h2>
<section id="galeria" class="container">
    <div class="row">
    <% imagenesBase64.forEach(function(base64String) { %>
        
            <div class="col-md-4">
                <img class="img-fluid" src="data:image/png;base64,<%= base64String %>" alt="Imagen">
            </div>
        
    <% }); %>
</div>
</section>
<%- include('footer.ejs') %>

